FormStyles.css

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #89cc17;
    border: 1px solid #d70c0c;
    border-radius: 5px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input[type="email"],
  .form-container input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container button {
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: rgb(24, 2, 2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #f4f3f4;
  }
  